-- Database Initialization Script for Dashboard EMP
-- Adapted for MySQL based on the new ERD

CREATE DATABASE IF NOT EXISTS dashboard_emp;
USE dashboard_emp;

-- 1. CLEANUP (Drop tables in reverse order of dependency)
DROP TABLE IF EXISTS project_metrics;
DROP TABLE IF EXISTS issues;
DROP TABLE IF EXISTS task_milestones;
DROP TABLE IF EXISTS timeline_events;
DROP TABLE IF EXISTS project_members;
DROP TABLE IF EXISTS employees;
DROP TABLE IF EXISTS projects;

-- 2. MASTER TABLES

-- Table: Projects
CREATE TABLE projects (
    id VARCHAR(50) PRIMARY KEY, -- UUID
    projectCode VARCHAR(50) UNIQUE,
    name VARCHAR(255) NOT NULL,
    category ENUM('EXPLORATION', 'DRILLING', 'OPERATION', 'FACILITY') NOT NULL,
    priority ENUM('HIGH', 'MEDIUM', 'LOW') DEFAULT 'MEDIUM',
    status ENUM('ON_TRACK', 'AT_RISK', 'DELAYED', 'COMPLETED') DEFAULT 'ON_TRACK',
    
    startDate DATETIME,
    endDate DATETIME,
    totalBudget DOUBLE DEFAULT 0,
    
    location VARCHAR(255),
    manager VARCHAR(255), -- Temporary field until full Employee relation is enforced in UI
    
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- Table: Employees
CREATE TABLE employees (
    id VARCHAR(50) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    position VARCHAR(100),
    department VARCHAR(100)
);

-- Table: Project Members (Pivot)
CREATE TABLE project_members (
    id VARCHAR(50) PRIMARY KEY,
    projectId VARCHAR(50) NOT NULL,
    employeeId VARCHAR(50) NOT NULL,
    role VARCHAR(100),
    FOREIGN KEY (projectId) REFERENCES projects(id) ON DELETE CASCADE,
    FOREIGN KEY (employeeId) REFERENCES employees(id) ON DELETE CASCADE
);

-- 3. OPERATIONAL & TRACKING

-- Table: Timeline Events (Gantt Tasks)
CREATE TABLE timeline_events (
    id VARCHAR(50) PRIMARY KEY,
    projectId VARCHAR(50) NOT NULL,
    eventName VARCHAR(255) NOT NULL,
    startDate DATETIME,
    endDate DATETIME,
    taskBudget DOUBLE DEFAULT 0,
    calculatedProgress FLOAT DEFAULT 0, -- 0-100 derived from milestones
    FOREIGN KEY (projectId) REFERENCES projects(id) ON DELETE CASCADE
);

-- Table: Task Milestones (Checklist items)
CREATE TABLE task_milestones (
    id VARCHAR(50) PRIMARY KEY,
    timelineEventId VARCHAR(50) NOT NULL,
    milestoneName VARCHAR(255) NOT NULL,
    progressContribution FLOAT DEFAULT 0, -- e.g. 25.0
    isCompleted BOOLEAN DEFAULT FALSE,
    completedAt DATETIME,
    FOREIGN KEY (timelineEventId) REFERENCES timeline_events(id) ON DELETE CASCADE
);

-- Table: Issues
CREATE TABLE issues (
    id VARCHAR(50) PRIMARY KEY,
    projectId VARCHAR(50) NOT NULL,
    title VARCHAR(255) NOT NULL,
    severity ENUM('HIGH', 'MEDIUM', 'LOW') DEFAULT 'MEDIUM',
    status ENUM('OPEN', 'IN_PROGRESS', 'CLOSED') DEFAULT 'OPEN',
    impactScore INT DEFAULT 1,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (projectId) REFERENCES projects(id) ON DELETE CASCADE
);

-- 4. METRICS & SNAPSHOTS

-- Table: Project Metrics (KPIs, S-Curve Data)
CREATE TABLE project_metrics (
    id VARCHAR(50) PRIMARY KEY,
    projectId VARCHAR(50) NOT NULL,
    recordDate DATETIME NOT NULL,
    
    -- Inputs
    actualCost DOUBLE DEFAULT 0,
    
    -- Calculations
    actualProgress FLOAT DEFAULT 0,
    plannedValue DOUBLE DEFAULT 0,
    earnedValue DOUBLE DEFAULT 0,
    
    scheduleVariance DOUBLE DEFAULT 0,
    costVariance DOUBLE DEFAULT 0,
    spi FLOAT DEFAULT 1,
    cpi FLOAT DEFAULT 1,
    
    FOREIGN KEY (projectId) REFERENCES projects(id) ON DELETE CASCADE
);
