@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  background-color: #f0f2f5;
  /* Warna background khas dashboard Antd */
}

/* Custom Scrollbar - Always Visible */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* hapus outline hitam pada semua chart saat diklik/select */
.recharts-surface,
.recharts-wrapper,
.recharts-sector,
.recharts-bar-rectangle,
.recharts-cell,
.recharts-layer,
.recharts-responsive-container,
.recharts-wrapper svg,
.recharts-wrapper svg *  {
  outline: none !important;
}
